process {
	withLabel: sratools {
		container = 'containers/sratools.sif'
	}
	withLabel: fastqc {
		container = 'https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0'
	}
	withLabel: fastp {
		container = 'https://depot.galaxyproject.org/singularity/fastp:0.24.0--heae3180_1'
	}
	withLabel: bwa {
		container = 'https://depot.galaxyproject.org/singularity/bwa-mem2:2.2.1--he70b90d_6'
	}
	withLabel: samtools {
		container = 'docker://staphb/samtools'
	}
}
singularity {
	enabled = true
}